<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WalletHub - Assignment #1">

	<listeners>
		<listener class-name="com.listners.ListenerTestNG" />
	</listeners>

	<test name="Wallethub - Write review">
		<classes>
			<class name="com.walletHubReviewsTestCase.WriteReviewTest" />
		</classes>
	</test>
	
</suite>